[package]
name = "iggy"
version = "0.4.1"
description = "Iggy is the persistent message streaming platform written in Rust, supporting QUIC, TCP and HTTP transport protocols, capable of processing millions of messages per second."
edition = "2021"
license = "MIT"
keywords = ["iggy", "messaging", "streaming"]
categories = ["command-line-utilities", "database", "network-programming"]
homepage = "https://iggy.rs"
documentation = "https://docs.iggy.rs"
repository = "https://github.com/iggy-rs/iggy"
readme = "../README.md"

[dependencies]
aes-gcm = "0.10.3"
anyhow = "1.0.82"
async-dropper = { version = "0.3.1", features = ["tokio", "simple"] }
async-trait = "0.1.80"
base64 = "0.22.1"
byte-unit = { version = "5.1.4", default-features = false, features = [
    "serde",
    "byte",
    "std",
] }
bytes = "1.6.0"
chrono = { version = "0.4.38" }
clap = { version = "4.5.4", features = ["derive"] }
comfy-table = { version = "7.1.1", optional = true }
crc32fast = "1.4.0"
dirs = "5.0.1"
fast-async-mutex = { version = "0.6.7", optional = true }
flume = "0.11.0"
humantime = "2.1.0"
keyring = { version = "2.3.2", optional = true }
lazy_static = "1.4.0"
openssl = { version = "0.10.64", features = ["vendored"] }
passterm = { version = "2.0.1", optional = true }
quinn = { version = "0.10.2" }
regex = "1.10.4"
reqwest = { version = "0.12.4", features = ["json"] }
reqwest-middleware = { version = "0.3.0", features = ["json"] }
reqwest-retry = "0.5.0"
rustls = { version = "0.21.11", features = ["dangerous_configuration"] }
serde = { version = "1.0.199", features = ["derive", "rc"] }
serde_json = "1.0.116"
serde_with = { version = "3.8.1", features = ["base64"] }
strum = { version = "0.26.2", features = ["derive"] }
thiserror = "1.0.59"
tokio = { version = "1.37.0", features = ["full"] }
tokio-native-tls = "0.3.1"
toml = "0.8.12"
tracing = { version = "0.1.40" }
uuid = { version = "1.8.0", features = ["v4", "fast-rng"] }

[build-dependencies]
convert_case = "0.6.0"
rmp-serde = "1.3.0"
serde = { version = "1.0.199", features = ["derive", "rc"] }
serde_derive = "1.0.194"

[features]
default = ["tokio_lock"]
iggy-cli = ["dep:comfy-table", "dep:keyring", "dep:passterm"]
tokio_lock = []
fast_async_lock = ["dep:fast-async-mutex"]
